domain = ""
database.dsn = "mysql:host=localhost;dbname=;user=;password=;charset=UTF8"
auth.jwt-key = ""
attachment-entity-plugin.img.secret = ""
debug = false
rlogtail.connection = "unix-socket"
rlogtail.address:path = "rlogtail.sock"