domain = "{{domain}}"
database.dsn = "mysql:host={{databaseHost}};dbname={{database}};user={{databaseUser}};password={{databasePassword}};charset=UTF8"
auth.jwt-key = "{{jwtSecret}}"
attachment-entity-plugin.img.secret = "{{imgSecret}}"

;debug = "debug"|"alert"|false
debug.mode = false
debug.rlogtail.connection = "unix-socket"
debug.rlogtail.address:path = "rlogtail.sock"
debug.telegram.botId = ""
debug.telegram.channel = ""
