appid = "{{appid}}"
domain = "{{domain}}"
carbon.database.dsn = "mysql:host={{databaseHost}};dbname={{database}};user={{databaseUser}};password={{databasePassword}};charset=UTF8"
bundle.authentication.jwt-key = "{{jwtSecret}}"
bundle.attachment.img.secret = "{{imgSecret}}"

mercury.smart-responder.debug = true

debug = true
rlogtail.connection = "unix-socket"
rlogtail.address:path = "rlogtail.sock"
