$color-ramp-black: #000000;
$color-ramp-deep: #0F0C1B;
$color-ramp-dark: #120E20;
$color-ramp-dusty: #1C182B;
$color-ramp-paper: #312B47;
$color-ramp-paper-light: #33335B;
$color-ramp-light: #A9A9E7;
$color-ramp-bright: #D0D0EF;
$color-ramp-white: #FFFFFF;

$color-info: #00A2FF;
$color-info-light: #5EC4FF;
$color-info-dark: #005281;

$color-success: #2DCC00;
$color-success-light: #60FF33;
$color-success-dark: #186C00;

$color-warning: #FF9100;
$color-warning-light: #FFE121;
$color-warning-dark: #FFE121;

$color-error: #FF1C00;
$color-error-light: #FF7724;
$color-error-dark: #8F1000;

$radius-big: 5px;
$radius-small: 3px;
$gap-big: 10px;
$gap-small: 5px;

$ruler-width: 1px;

$brick-height: 26px;
$block-height: 30px;

$font-face: "Baloo Chettan 2"